/* Main modal styles */
.show-modal {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
}

.close-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  position: absolute;
  color: #000000;
  top: 20px;
  right: 150px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
}

.hide-button {
  display: none;
}

.modal {
  width: 450px;
  max-height: 80%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  opacity: 1;
  margin: 30px 0;
  overflow: auto;
  scrollbar-width: thin; /* Reduced scrollbar width for Firefox */
  scrollbar-color: #888 #f1f1f1; /* thumb color, track color */
}

/* Custom scrollbar styles for webkit-based browsers */
.modal::-webkit-scrollbar {
  width: 2px; /* Further reduced scrollbar width */
}

.modal::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.modal::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  border: 1px solid #f1f1f1; /* Adjusted border to fit thinner scrollbar */
}

.modal::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Other styles */
.inner-modal {
  margin: 20px;
}

.modal-icon-round {
  border-radius: 50%;
  background-color: #feeeed;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.modal-icon-round img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-modal h3 {
  font-family: Space Grotesk, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  margin-bottom: 0;
  margin-top: 5px;
  padding: 0;
}

.inner-modal p {
  margin-top: 10px;
  font-family: Inter;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  color: #667085;
}

.inner-modal p .text-color {
  color: #6a1039;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

.input-filter {
  padding: 0.1rem 1rem !important;
}

.profile-container {
  border: 1px solid #e6e7ec;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
}

.profile-box {
  padding: 10px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.profile-box-one {
  background-color: #fff2ea;
}

.flex-profile-box {
  display: flex;
  justify-content: space-between;
}

.profile-box .box-1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-box .box-1 p {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.modal-title {
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
  text-align: left;
}

.modal-backdrop {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Blur effect */
  padding: 30px 0; /* Add padding at the top and bottom */
  box-sizing: border-box; /* Include padding in the element's total width and height */
  z-index: 1000; /* Ensures it sits above other elements */
}

.display-modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Blur effect */
  padding: 30px 0; /* Add padding at the top and bottom */
  box-sizing: border-box; /* Include padding in the element's total width and height */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
